<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608342980367-9fehkbnt8i1je6674v9i6ln0edal6dcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608342980367-9fehkbnt8i1je6674v9i6ln0edal6dcj</string>
	<key>API_KEY</key>
	<string>AIzaSyASW4-p4LYZ0_l29DqSAtGfYeJNEPyd7YY</string>
	<key>GCM_SENDER_ID</key>
	<string>608342980367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DilanJay.Cafe-Nibm</string>
	<key>PROJECT_ID</key>
	<string>cafe--nibm-d44e2</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe--nibm-d44e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608342980367:ios:f193581fbb1b0aa4c2f07a</string>
</dict>
</plist>